@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #DCF2F1;
    --secondary-color: #365486;
    --tertiary-color: #7FC7D9;
    --hover-color: #0F1035;
}

header {
    margin: 1%;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.content {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: row;
    gap: 2.5rem;
    height: auto;
    padding: 0 2.5rem;
}

.conteinerWorkplace {
    padding: 0 0 0 0;
    height: 80vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.workplaceInput {
    width: 40vw;
    padding: 1em 0 3em 0;
    border: none;
    outline: 0;
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: var(--secondary-color);
    overflow: hidden;
    background-color: var(--primary-color);
}

.workplaceWorkers {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-block: 10em;
}

.workersInstructions {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    text-align: right;
    display: flex;
    align-items: center;
    gap: 8px;
}

.workersButtons {
    padding: 0 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
}

.buttonsButton {
    padding: 1.5rem;
    border: 2px;
    border-radius: 24px;
    width: 50%;
}

.buttonEncrypt {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.buttonEncrypt:hover {
    background-color: var(--hover-color);
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}

.buttonDecrypt {
    background-color: var(--tertiary-color);
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}

.buttonDecrypt:hover {
    background-color: var(--hover-color);
    color: var(--primary-color);
}

.conteinerResults {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 1% 5% 1%;
    width: 440px;
    background-color: white;
    border-radius: 24px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.resultsConteiner {
    display: none;
    height: auto;
    max-height: 90vh;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.resultsResult {
    height: -webkit-fill-available;
}

.buttonCopy {
    display: block;
    background-color: var(--tertiary-color);
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    margin-inline: 25%;
}

.buttonCopy:hover {
    background-color: var(--hover-color);
    color: var(--primary-color);
}

.resultsImage {
    width: 50%;
    visibility: visible;
}

.defaultText {
    padding: 0 10%;
    text-align: center;
    color: black;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    visibility: visible;
}

.resultsParagraph {
    padding: 0 10%;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    visibility: visible;
}



footer {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .content {
        padding: 4% 0% 0% 0%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .conteinerWorkplace {
        width: 90vw;
        height: auto;
        padding: 0;
    }

    .workplaceInput {
        width: 90vw;
    }

    .workplaceWorkers {
        margin: 15em 0 0 0;
    }

    .conteinerResults {
        max-height: 30vh;
        width: 80vw;
    }

    .resultsResult {
        max-height: 15vh;
        padding: 0 2%;
    }

    .resultsImage {
        display: none;
    }

    .resultsConteiner {
        width: 75%;
        gap: 100px;
    }

    .buttonCopy {
        margin-inline: 25%;
    }
}

@media (max-width: 542px) {
    header {
        padding-top: 6%;
    }

    .content {
        height: auto;

    }

    .conteinerWorkplace {
        width: 80%;
    }

    .workplaceWorkers {
        margin: 0;
        align-items: flex-start;
    }

    .workersButtons {
        width: 100%;
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .buttonsButton {
        width: 100%;
    }

    .conteinerResults {
        max-height: 40vh;
        padding: 0;
    }

    .resultsConteiner {
        justify-content: space-evenly;
    }

    .buttonCopy {
        margin: 0;
    }

    .resultsParagraph {
        padding: 0%;
    }
}